body {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

#container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  max-width: 100vw;
  height: 100vh;
  margin: 0 auto;
  /* border: 1px solid black; */
}

/* header,
nav,
section,
article,
footer {
  border: 1px solid black;
} */

header,
footer {
  padding: 50px 0px;
}

header {
  background-color: darkgray;
  grid-column: 1;
  grid-row: 1;
}

nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  background-color: darkblue;
  grid-column: 1;
  grid-row: 2;
  padding: 20px;
}

nav div {
  padding: 20px 0px;
  /* border: 1px solid black; */
  background-color: cadetblue;
}

section {
  background-color: darkgoldenrod;
  grid-column: 1;
  grid-row: 3;
  padding: 150px;
}

article {
  background-color: darkgreen;
  grid-column: 1;
  grid-row: 4;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-content: center;
}

article div {
  color: black;
  padding: 100px;
  border: 1px solid black;
  background-color: lightgreen;
}
footer {
  background-color: darkred;
  grid-column: 1;
  grid-row: 5;
}