* {
  font-family: Verdana;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #f5f5f5;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "header header header header"
    "header header header header"
    "nav nav nav nav"
    "article article article aside"
    "article article article aside"
    "article article article aside"
    "article article article aside"
    "footer footer footer footer";
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
}

header {
  grid-area: header;
  background-image: url("header-background.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  margin: 0;
  color: white;
}

#header-menu {
  grid-area: nav;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  padding: 15px;
}

#header-menu div,
#footer-menu div {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-menu div a,
#footer-menu div a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#header-menu div:hover {
  background-color: #757575;
}

article {
  border-right: 2px solid black;
  border-top: 2px solid black;
  padding: 10px;
  grid-area: article;
}

article p {
  font-family: Georgia;
  font-size: 20px;
}

article h1 {
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
}

article div {
  text-align: center;
}

article img {
  width: 50%;
  height: auto;
}

aside {
  border-top: 2px solid black;
  padding: 10px;
  grid-area: aside;
}

aside h2 {
  font-size: 35px;
  margin-bottom: 10px;
  text-align: center;
}

aside p {
  font-family: Georgia;
  font-size: 16px;
}

aside div {
  text-align: center;
}

aside img {
  width: 75%;
  height: auto;
}

footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  justify-content: space-between;
  background-color: gray;
  grid-area: footer;
}

footer p {
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  padding: 15px;
}

#footer-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  grid-gap: 10px;
  padding: 15px;
}
#footer-menu div:hover {
  background-color: rgb(57, 56, 56);
}