body {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

#container {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-auto-rows: minmax(75px, auto);
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "feature gallery gallery"
    "feature gallery gallery"
    "feature gallery gallery"
    "feature gallery gallery"
    "new blog blog"
    "new blog blog"
    "category blog blog"
    "category blog blog"
    "footer footer footer";
  /* grid-gap: 15px; */
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
}

header,
nav,
aside,
article,
footer {
  /* border: 1px solid black; */
  padding: 25px;
}

header {
  grid-area: header;
  background-color: black;
}

nav {
  grid-area: nav;
  background-color: darkgray;
}

#gallery {
  grid-area: gallery;
  background-color: brown;
}

#blog {
  grid-area: blog;
  background-color: lightcoral;
}

#feature {
  grid-area: feature;
  background-color: lightgreen;
}

#new {
  grid-area: new;
  background-color: greenyellow;
}

#category {
  grid-area: category;
  background-color: green;
}

footer {
  grid-area: footer;
  background-color: black;
}

nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-area: nav;
  padding: 15px;
}

nav div {
  /* border: 1px solid black; */
  background-color: #888888;
  padding: 10px;
}